#Data Exploration with Pandas by Analysing the Post-University Salaries of Graduates by Major 

Using PayScale Inc. 1 year-long survey of 1.2 million Americans with only a bachelor's degree

In [1]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

In [3]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

As have use the head() method to check for the top 5 rows of dataframe, shape attribute will help check for the entire rows and columns

In [5]:
df.shape

(51, 6)

To check for the entire column names directly use the columns attribute

In [6]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')